---
import Contact from "../components/Contact.astro";
import Partners from "../components/Partners.astro";
import Services from "../components/Services.astro";
import SvgIconItem from "../components/SvgIconItem.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="W Relocation Company">
    <!-- About -->
    <section class="container-fluid py-6 gray-bg" id="services">
        <div
            class="container-large m-auto row align-items-center mobile-column mobile-padding"
        >
            <div class="col white-txt">
                <h3 class="title">
                    Elevating Your <br /> Relocation Experience
                </h3>
                <hr />
                <p>
                    At W Relocation, we’re not just a relocation company; we’re
                    your partners in either selling your current property, and
                    or finding the perfect place to call home. Whether it be a
                    local move, a first-time home purchase, or a complete
                    relocation across the country, we have you covered.
                </p>

                <p>
                    What sets us apart is our partnership with over 1,000 Real
                    Estate brokerages across the Unites States. We have truly
                    brought together the best in real estate and relocation
                    services under one roof, allowing this collaboration to
                    offer you a truly unique experience. Our dedicated and
                    top-rated realtors across the nation provide hands on,
                    personalized guidance, ensuring you are not just represented
                    by the best, but that you also receive CASH BACK at the
                    closing table.
                </p>

                <p>
                    From Real Estate and Mortgages to Title Services and more,
                    we ensure that every aspect of this significant life event
                    is a positive and seamless experience, all while offering
                    the most competitive rates.
                </p>

                <p>
                    With our program, your employees and members can enjoy
                    cash-back at closing and exclusive discounts on Mortgage and
                    Title services, making their relocation journey both
                    financially rewarding and stress-free.
                </p>

                <p>
                    We've established partnerships with over 1,000 top-rated
                    brokerages nationwide. This guarantees that anyone referred
                    through our network is paired with a highly qualified Real
                    Estate agent who meets stringent criteria, ensuring a smooth
                    and successful relocation.
                </p>
                <hr />
                <button
                    type="button"
                    class="btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#form">Contact us today</button
                >

                <!-- MODAL -->
                <div
                    class="modal fade"
                    id="form"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                >
                    <div
                        class="modal-dialog modal-dialog-centered"
                        role="document"
                    >
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Contact Us Today
                                </h5>
                                <button
                                    type="button"
                                    class="close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="name1"
                                            aria-describedby="fullnameHelp"
                                            placeholder="Full Name"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="email1"
                                            aria-describedby="emailHelp"
                                            placeholder="Email Address"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <textarea
                                            rows="4"
                                            cols="50"
                                            class="form-control"
                                            id="textarea"
                                            placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div
                                    class="modal-footer border-top-0 d-flex justify-content-center"
                                >
                                    <button type="submit" class="btn-success"
                                        >Submit</button
                                    >
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col white-txt px-5 text-center">
                <div class="col-10 m-auto">
                    <img
                        src="/images/people.webp"
                        alt="people"
                        data-aos="zoom-in"
                        data-aos-duration="1000"
                    />
                </div>
            </div>
        </div>
    </section>

    <!-- People -->
    <section
        class="container-fluid py-5 full-bg p-relative"
        style="background-image: url(/images/Meet-Team-Background.webp);"
        id="contact"
    >
        <div class="container h-100">
            <div class="gap-5 p-relative z-5 w-100 m-auto">
                <div class="text-center">
                    <h1 class="white-txt bigger-text">Meet Our Team</h1>
                </div>
            </div>

            <div class="row gap-5 p-relative z-5 justify-content-center w-100">
                <div class="col white-txt text-center">
                    <div class="card-flipper effect__hover" data-id="1">
                        <div class="card__front">
                            <div class="card card-01">
                                <div class="profile-box-01">
                                    <img
                                        class="card-img-top"
                                        src="/images/Gene.webp"
                                        alt="Card image cap"
                                    />
                                </div>
                                <div class="card-body text-center">
                                    <h3 class="card-title">Gene Whiddon III</h3>
                                    <h4 class="card-text">President</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card__back">
                            <div class="card card-01">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Gene Whiddon III</h4>
                                    <p class="card-text">
                                        Before starting W Relocation, Gene ran
                                        the #1 real estate relocation team in
                                        his territory. Gene knows what employees
                                        and members go through on every
                                        transaction, and what it means to truly
                                        relocate. His mission is to make the
                                        process of buying or selling a home for
                                        employees and members across the United
                                        States seamless and better than ever
                                        before, while providing huge financial
                                        help to those making the biggest
                                        transactions of their lives.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col white-txt text-center">
                    <div class="card-flipper effect__hover" data-id="1">
                        <div class="card__front">
                            <div class="card card-01">
                                <div class="profile-box-01">
                                    <img
                                        class="card-img-top"
                                        src="/images/Katie.webp"
                                        alt="Card image cap"
                                    />
                                </div>
                                <div class="card-body text-center">
                                    <h3 class="card-title">Katie Burnett</h3>
                                    <h4 class="card-text">Strategy Director</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card__back">
                            <div class="card card-01">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Katie Burnett</h4>
                                    <p class="card-text">
                                        Katie is a highly accomplished marketing
                                        professional with a proven ability to
                                        turn concepts into tangible results. She
                                        has established herself as a trusted
                                        authority for our agents aiming to
                                        establish a strong presence in the
                                        competitive market. Katie’s enthusiasm
                                        for driving business success, coupled
                                        with her commitment to excellence and
                                        dedication to growth, guarantees that
                                        our agents confidently attain their
                                        marketing objectives.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col white-txt text-center">
                    <div class="card-flipper effect__hover" data-id="1">
                        <div class="card__front">
                            <div class="card card-01">
                                <div class="profile-box-01">
                                    <img
                                        class="card-img-top"
                                        src="/images/Liz.webp"
                                        alt="Card image cap"
                                    />
                                </div>
                                <div class="card-body text-center">
                                    <h3 class="card-title">Liz Oakley, CRP</h3>
                                    <h4 class="card-text">
                                        Relocation Director
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="card__back">
                            <div class="card card-01">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Liz Oakley, CRP</h4>
                                    <p class="card-text">
                                        Liz is our Relocation and Corporate
                                        Services Director, with over 10 years of
                                        experience in being one of the best in
                                        the industry. She oversees the company’s
                                        relocation of corporate employees,
                                        federal law enforcement, military
                                        members, unions, schools and much more.
                                        All other lead generation systems. Due
                                        to her hard work and dedication, her
                                        teams have been awarded Platinum within
                                        the nation’s top networks.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay-darker"></div>
        </div>
    </section>
</Layout>

<style>
    hr {
        border: 1px solid white;
        opacity: 1;
    }
    button {
        background-color: #231f20;
        color: white;
        border: none;
        padding: 0.7em 1.5em;
        text-transform: uppercase;
        font-weight: 200;
        transition: 0.2s all ease-in-out;
    }

    button:hover {
        background-color: white;
        color: #231f20;
    }
    h4 {
        font-family: unset;
        font-size: 1.5em;
    }
    h3 {
        font-size: 2em;
        margin-bottom: 0em;
    }
    .title {
        font-size: 3vw;
    }
    .modal-content {
        background-color: #383838;
    }
    .close {
        border-radius: 50px;
        width: 50px;
        height: 50px;
        display: grid;
        place-content: center;
    }
    .form-group {
        padding: 0.5em 0em;
    }
    /*flipper-card*/
    .card-title {
        color: white;
    }
    .card-text {
        color: white;
    }
    .card {
        background-color: transparent;
        border: none;
    }
    .card-flipper {
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        /* height: 450px; */
    }

    .card__back {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        width: 100%;
        height: fit-content;
    }

    .card__back .card {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .card__front,
    .card__back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .card__front {
        background-color: transparent;
    }

    .card__back {
        background-color: #383838;
        border-radius: 20px;
        -webkit-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    .card-flipper.effect__hover:hover .card__front {
        -webkit-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .card-flipper.effect__hover:hover .card__back {
        -webkit-transform: rotateY(0);
        -ms-transform: rotateY(0);
        transform: rotateY(0);
    }

    .card-flipper.effect__random.flipped .card__front {
        -webkit-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .card-flipper.effect__random.flipped .card__back {
        -webkit-transform: rotateY(0);
        -ms-transform: rotateY(0);
        transform: rotateY(0);
    }
</style>
