---
import Contact from "../components/Contact.astro";
import Partners from "../components/Partners.astro";
import Services from "../components/Services.astro";
import SvgIconItem from "../components/SvgIconItem.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="W Relocation Company">
	<section
		id="homecover-1"
		class="container-fluid py-5 full-bg"
		style="background-image: url(/images/screen_2x.webp);"
		data-aos-easing="ease-out-back"
		data-aos-duration="1000"
		data-aos-delay="0"
	>
		<div
			class="container grid-center h-100 p-relative z-5"
			data-aos="zoom-in"
			data-aos-duration="1000"
		>
			<div class="row justify-content-between gap-5 p-relative z-5 mobile-carry">
				<div class="col-4">
					<img src="/images/W-Relocation.svg" alt="LOGO" />
				</div>
				<div
					class="col white-txt d-flex flex-column justify-content-around"
				>
					<h4>Let the experts help you.</h4>
					<h2>
						Taking care of your Relocation needs is what we do best.
					</h2>
					<a href="/">
						<button class="discover-btn"
							>Discover W Relocation</button
						>
					</a>
				</div>
			</div>
		</div>
		<div class="overlay-darker"></div>
	</section>

	<!-- Why W Relocations -->
	<section class="container-fluid py-6 vh-90 d-flex align-items-center">
		<div class="container">
			<h3 class="text-center line-above">WHY W RELOCATION</h3>
			<div class="row py-5 justify-content-between">
				<SvgIconItem
					title="Technology."
					image="/images/computer.svg"
					color="gray"
					duration="1000"
				/>
				<SvgIconItem
					title="CARING."
					image="/images/Hands.svg"
					color="purple"
					duration="1000"
				/>
				<SvgIconItem
					title="TEAM."
					image="/images/People.svg"
					color="blue"
					duration="1000"
				/>
				<SvgIconItem
					title="FULL-SERVICE."
					image="/images/Wizard.svg"
					color="brown"
					duration="1000"
				/>
			</div>
		</div>
	</section>

	<!-- Discover W Relocations -->
	<section
		class="container-fluid py-6 gray-bg px-0 vh-90 d-flex align-items-center"
	>
		<div class="row mobile-column mobile-padding">
			<div class="col">
				<img
					src="/images/discover-image.webp"
					alt="Discover Interior"
					data-aos="zoom-in-right"
					data-aos-duration="1000"
				/>
			</div>
			<div class="col white-txt px-5 d-flex flex-column justify-content-between">
				<h3><em>DISCOVER W RELOCATION</em></h3>
				<div class="discover-text">
					<p>
						W Relocation specializes in offering benefits and
						personalized discounts for your members/employees. We
						ensure that these benefits are customized to fit every
						person's needs, from Real Estate, Mortgages, and Title
						Services, making sure these big life events are an
						enjoyable experience.
					</p>
					<p>
						Our program was designed to allow you to offer valuable
						and impactful benefits and discounts to your employees,
						which leads to high morale, retention, and appeal to new
						talent.
					</p>
				</div>
				<a href="/" >
					<button class="discover-btn">Learn More</button>
				</a>
			</div>
		</div>
	</section>

	<!-- Partners -->
	<!-- <section class="container-fluid py-6">
		<div class="container">
			<h3 class="text-center">PARTNERS</h3>
			<div class="row py-5 justify-content-between">
				<Partners
					title="Bank Bank"
					image="../src/assets/images/computer.svg"
				/>
				<Partners
					title="Digital Solutions"
					image="../src/assets/images/computer.svg"
				/>
				<Partners
					title="Perlanton Inc"
					image="../src/assets/images/computer.svg"
				/>
			</div>
		</div>
	</section> -->

	<!-- Cash Back program -->
	<section class="py-6 container">
		<div class="row mobile-column mobile-padding align-items-center">
			<div class="col grid-center">
				<h1 class="py-6 bigger-text">CASH BACK REBATE PROGRAM</h1>
				<a href="/" class="center">
					<button class="discover-btn-negative">Learn More</button>
				</a>
			</div>
			<div class="col-5">
				<img
					src="/images/cash-back.webp"
					alt="Cash Back Program"
				/>
			</div>
		</div>
	</section>

	<!-- Our Services -->
	<section class="container-fluid py-6 gray-bg px-0">
		<div class="row align-items-center mobile-column mobile-padding">
			<div class="col white-txt px-5 text-center">
				<h3><em>OUR SERVICES</em></h3>
				<div class="col-10 m-auto">
					<img
						src="/images/boxes.webp"
						alt="boxes"
						data-aos="zoom-in"
						data-aos-duration="1000"
					/>
				</div>
			</div>
			<div class="col row flex-column justify-content-between gap-5">
				<Services
					number="01"
					title="In-House Realtors"
					description="Your agent is prepared to do virtual showings, arrange remote closings with title partners, and be sensitive to your unique schedule and needs when relocating, locally or globally."
				/>
				<Services
					number="02"
					title="Relocation Offers"
					description="Employer-provided benefits like cash-back rebate programs, preferred Real Estate Agents, Lenders, and Title Companies offering you significant incentives."
				/>
				<Services
					number="03"
					title="Full-Service"
					description="Feel confident about every aspect of the Real Estate portion of your move from Real Estate, Mortgages, and Title Services."
				/>
			</div>
		</div>
	</section>

	<!-- Contact Section -->
	<section
		class="container-fluid py-5 full-bg vh-90 p-relative"
		style="background-image: url(/images/contact-us-section.webp);"
	>
		<div class="container d-flex h-100">
			<div class="row gap-5 p-relative z-5 align-items-center w-100">
				<div class="col">
					<h1 class="white-txt bigger-text">Contact</h1>
				</div>
				<div class="col white-txt">
					<Contact
						addressName="Main Office"
						addressStreet="123 Anywhere St."
						addressCity="Any City, ST 12345"
						phone="(123) 456-7890"
						email="Test@test.com"
						instagram="test.com"
						tiktok="test.com"
					/>
				</div>
			</div>
			<div class="overlay-darker"></div>
		</div>
	</section>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
