---
const { number, title, description } = Astro.props;
---

<div class="row gap-2">
    <div class="col-1">
        <h3 class="number">{number}</h3>
    </div>
    <div class="col">
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
</div>

<style>
    .number {
        color: #9b9b9b;
    }
    h3 {
        font-size: 2.5em !important;
    }
    h3,
    p {
        color: white;
    }
    p {
        font-weight: 300;
    }

</style>
